API_PORT=8080
JWT_SECRET=your-jwt-secret


MONGO_USERNAME=foodie_admin
MONGO_PASSWORD=your-mongodb-password
MONGO_DATABASE=foodie_db
MONGO_PORT=27017


MINIO_ROOT_USER=foodie_minio_admin
MINIO_ROOT_PASSWORD=your-minio-password
MINIO_REGION=us-east-1


MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001